body {
    font-family: Arial, sans-serif;
    color: white;

    background-image: url("https://i.pinimg.com/1200x/62/c2/6b/62c26bcd4651802cd51cf0c7bf433734.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header {
    text-align: center;
    color: black;
}

main {
    width: 80%;
    margin: auto;
}

.card {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid gray;
    color: black;
}

input,
textarea,
select {
    padding: 8px;
}

button {
    padding: 8px 15px;
}

label{
    color: black;
}
